<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>

    <div class="properties">
    
        <form action="/properties/" method="POST">
        <fieldset>
            <legend>Add Property</legend>
            <label>Image</label>
            <input class="newpage" type="text" name="img"/>
            <label>Address</label>
            <input class="newpage" type="text" name="address"/>
            <label>Sales Price</label>
            <input class="newpage" type="text" name="sales_price"/>
            <label>Beds</label>
            <input class="newpage" type="number" name="beds"/>
            <label>Baths</label>
            <input class="newpage" type="number" name="baths"/>
            <label>Square Feet</label>
            <input class="newpage" type="number" name="square_feet"/>
            <label>Property Manager</label>
            <input class="newpage" type="text" name="property_manager"/>
            <label>Status</label>
            <input type="checkbox" name="status" id="sold">
            <br><br>
            <input class="submit-button" type="submit" value="ADD PROPERTY" />
        </fieldset>
        </form>
    </div>
    
</body>
</html>