* {
    margin: 0 auto;
    background-color: lightcyan;
  }

  body {
    text-align: center;
  }

  /* nav {
    color: rgb(30, 53, 145);
    background-color: rgba(219, 12, 1, 0.529);
    padding: 1em;
    text-align: center;
  } */

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  .property {
    margin-top: 2em;
    width: 9em;
    height: 10em;
    border-radius: 1em;
    text-align: left;
  }

  .Properties {
    margin-top: 2em;
    width: 9em;
    height: 10em;
    border-radius: 1em;
    text-align: center;
  }

  .Properties-img {
    margin-top: 1em;
    width: 7em;
    height: 7em;
    background-color: rgba(39, 93, 163, 0.529);
  }

  .showcontainer,
  .newcontainer {
    width: 20em;
    height: 21em;
    border-radius: 3em;
    text-align: center;
    margin-bottom: 1em;
    
  }

  .editpage:focus,
  .newpage:focus {
    outline: 0;
    border: 0.1em solid rgba(39, 93, 163, 0.529);
    padding: 0.5em;
  }
    
  .newpage,
  .editpage {
    border: 0.5em solid rgba(39, 93, 163, 0.529);
    padding: 0.2em;
    margin: 0.2em;
  }

  #properties-img-showpage {
    width: 15em;
    height: 15em;
    margin-top: 1em;
  }

  #info {
    margin: 1em;
    padding-top: 1em;
  }

  input {
    text-align: center;
  }

  h3 {
    text-align: center;
    color: goldenrod;
  }